<h1 class="text-3xl">Service pricing</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Optio, nihil? Aut voluptatum a magnam voluptate quo, modi minus, nobis
    officia nulla ut cumque et soluta vero aliquid assumenda earum. Quasi. Lorem
    ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus vel
    provident natus, consequatur non sint repudiandae at veritatis porro?
    Aspernatur, praesentium? Alias iste iure quae eligendi officia, minus veniam
    quam!
  </p>
</section>
